@keyframes rotate {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

@font-face {
    font-family: "OpenSans";
    src: local("OpenSans-Regular"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    src: local("OpenSans-SemiBold"), url("../fonts/OpenSans-SemiBold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "OpenSans";
    src: local("OpenSans-Bold"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

html {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

*,
*::after,
*::before {
    box-sizing: inherit;
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    max-width: 100%;
}

body {
    font-family: "OpenSans", sans-serif;
    font-weight: 400;
    background-color: var(--grey);
}

/* Global */
.list-reset {
    margin-top: 0;
    margin-bottom: 0;
    list-style: none;
    padding-left: 0;
}

.flex {
    display: flex;
}

.container {
    max-width: 1366px;
    padding: 0 90px;
    margin: 0 auto;
}

.btn-reset {
    padding: 0;
    border: none;
    background-color: transparent;
    cursor: pointer;
    user-select: none;
}

.text-reset {
    margin: 0;
    padding: 0;
}

:root {
    --firm: #9873FF;
    --firm-dark: #8052FF;
    --firm-bright: #B89EFF;
    --grey: #F5F5F5;
    --text-color: #B0B0B0;
    --black: #333;
    --white: #fff;
    --red: #F06A4D;
}

/* header */
.header__container {
    max-width: 1366px;
    margin: 0 auto;
    padding: 20px;
    gap: 53px;
    align-items: center;
    background-color: var(--white);
    box-shadow: 0px 9.030119895935059px 27.09035873413086px 0px rgba(176, 190, 197, 0.32);
}

.header__logo-div {
    max-width: fit-content;
}

.header__logo-link {
    display: block;
    line-height: 0;
}

.header__logo-img {
    max-width: 50px;
    min-height: 50px;
}

.header__input-div {
    align-items: center;
    max-width: 581px;
    width: 100%;
    height: 44px;
}

.header__form {
    align-items: center;
    width: inherit;
    height: inherit;
}

.header__input {
    width: inherit;
    height: inherit;
    padding: 12px 16px 13px 14px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19px;
    outline: none;
}

/* main */
tbody:before {
    content:"@";
    display:block;
    line-height: 7px;
    text-indent:-99999px;
}
.main__div {
    padding: 40px 0;
}

.main__h1 {
    margin-bottom: 19px;
    font-size: 24px;
    font-weight: 700;
    line-height: 33px;
}

/* table */
.table {
    position: relative;
    max-width: 1186px;
    width: 100%;
    margin-bottom: 40px;
    table-layout: fixed;
}

.table__head {
    padding-left: 20px;
    height: 25px;
    vertical-align: bottom;
    font-size: 12px;
    font-weight: 400;
    line-height: 16px;
    color: var(--text-color);
    cursor: pointer;
    user-select: none;
    transition: .3s all ease-in-out;
}

.table__head:hover {
    color: var(--black);
}

.table__head:focus {
    color: var(--black);
}

.table__head:active {
    color: var(--firm);
}

.table__id-width {
    max-width: 6.8%;
    width: 100%;
}

.table__fio-width {
    position: relative;
    max-width: 31.3%;
    width: 100%;
}

.table__fio-text {
    margin-right: 12px;
    font-size: 10px;
    font-weight: 600;
    line-height: 13.62px;
}

.table__create-width {
    max-width: 14.7%;
    width: 100%;
}

.table__change-width {
    max-width: 14.6%;
    width: 100%;
}

.table__contacts-width {
    max-width: 13.2%;
    width: 100%;
}

.contacts-container {
    padding-left: 19px;
    padding-right: 19px;
    gap: 7px;
}

.svg-common {
    display: inline-block;
    width: 16px;
    height: 16px;
    position: relative;
}

.specialContactsIcon {
    position: absolute;
    font-size: 8px;
    font-weight: 600;
    line-height: 10.89px;
    top: 17%;
    left: 15%;
}

.svg-common:hover path {
    fill: var(--firm-dark);
    transition: all .3s ease-in-out;
}

.phone:hover circle, .phone2:hover circle {
    fill: var(--firm-dark);
    transition: all .3s ease-in-out;
}

.phone:hover path, .phone2:hover path {
    fill: var(--white);
}

.table__actions {
    justify-content: space-between;
}

.table__btn-edit {
    display: flex;
    justify-content: center;
}

.table__btn-edit, .table__btn-delete {
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.table__btn-edit::before {
    content: url(../img/edit.svg);
    margin-right: 1px;
    height: 16px;
    width: 16px;
}

.table__btn-delete::before {
    content: url(../img/delete.svg);
    margin-right: 1px;
    height: 16px;
    width: 16px;
}

.table__btn-edit:hover, .table__btn-edit:hover path {
    color: var(--firm-bright);
}

.table__btn-edit:active::before {
    content: url(../img/circle-firm.svg);
    height: 14px;
    animation: rotate 1s linear infinite;
}

.table__btn-delete:active::before {
    content: url(../img/circle-red.svg);
    height: 14px;
    animation: rotate 1s linear infinite;
}

.table__head_arrow {
    position: relative;
}

.table__head_arrow::after {
    content: '';
    background: url('../img/arrow_downward.svg') no-repeat;
    display: inline-block;
    position: absolute;
    width: 12px;
    height: 12px;
    transform: translateY(18%);
}

.table__head_arrow.rotated::after {
    transform: rotate(-180deg) translateY(-2px);
}

.table__fio-sign {
    font-size: 10px;
    font-weight: 600;
    line-height: 13.62px;
}

.table__fio-sign::before {
    content: '';
    background: url('../img/arrow_downward.svg') no-repeat;
    display: inline-block;
    width: 11px;
    height: 14px;
    transform: translateY(18%);
    pointer-events: none;
}

.table__fio-sign.rotated::before {
    transform: rotate(-180deg);
}

/* внутренняя часть таблицы */
.table__body {
    background-color: var(--white);
    width: 100%;
}

.table__body-common {
    padding: 20px 20px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    color: var(--black);
}

.color-grey {
    font-size: 12px;
    color: var(--text-color);
}

.table__body-date {
    display: inline-block;
    margin-right: 3px;
}

.table__body-time {
    display: inline-block;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
}

.btn-block {
    max-width: 100%;
    justify-content: center;
}

.btn-block__btn {
    padding: 11px 24px;
    color: var(--firm);
    fill: var(--firm);
    border: 1px solid var(--firm);
}

.btn-block__text {
    font-size: 14px;
    font-weight: 600;
    line-height: 19.07px;
    text-align: center;
    color: inherit;
}

.btn-block__svg {
    margin-right: 6px;
    fill: inherit;
    transform: translateY(18%);
}

.btn-block__svg path {
    fill: inherit;
}

.btn-block__btn:focus {
    outline: 3px solid var(--firm-dark);
}

.btn-block__btn:hover {
    background-color: var(--firm-bright);
    color: var(--white);
    fill: var(--white);
}

.btn-block__btn:active {
    background-color: var(--firm-dark);
    color: var(--white);
    fill: var(--white);
    outline: none;
}

/* Модальное окно */
.overlay {
    opacity: 0;
    visibility: hidden;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, .5);
    z-index: 20;
    transition: .3s all ease-in-out;
}

.modal {
    padding: 25px 0;
    opacity: 0;
    visibility: hidden;
    gap: 25px;
    flex-direction: column;
    align-items: center;
    width: 100%;
    max-width: 450px;
    position: fixed;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 30;
    box-shadow: 0 3px 10px -.5px rgba(0, 0, 0, .2);
    text-align: center;
    border-radius: 3px;
    background-color: var(--white);
    transition: 0.3s all ease-in-out;
}

.modal__form-container {
    width: 100%;
    padding: 0 30px;
}

.modal__container-title {
    position: relative;
    margin-bottom: 9px;
    align-items: baseline;
}

.modal__cross {
    width: 15px;
    height: 15px;
    position: absolute;
    top: 0px;
    right: -8px;
    fill: var(--text-color);
    cursor: pointer;
}

.modal.active,
.overlay.active {
    opacity: 1;
    visibility: visible;
}

.modal__title {
    font-size: 18px;
    font-weight: 700;
    line-height: 24.51px;
    margin-right: 9px;
}

.modal__id {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
    color: var(--text-color);
    display: table-cell;
    vertical-align: middle;
}

.form__item {
    margin-bottom: 25px;
    flex-direction: column;
    align-items: flex-start;
    min-height: fit-content;
    max-width: 100%;
    width: 100%;
    gap: 15px;
}

.form__lable {
    align-items: flex-end;
    position: relative;
    min-height: 42px;
    width: 100%;
    color: var(--text-color);
    border-bottom: 1px solid var(--text-color);
}

.form__lable_color {
    border-bottom: 1px solid var(--red);
}

.form__span {
    display: inline-block;
    position: absolute;
    pointer-events: none;
    left: 0;
    top: 17px;
    white-space: nowrap;
    overflow: hidden;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
}

.form__lable-special {
    color: var(--firm);
}

.form__input {
    width: inherit;
    min-height: 27px;
    border: none;
    padding: 0;
    outline: none;
    vertical-align: bottom;
}

.form__lable .form__input:focus+.form__span,
.form__lable .form__input:not(:placeholder-shown)+.form__span {
    top: 0;
    font-size: 10px;
    font-weight: 400;
    line-height: 13.62px;
}

.form-contacts {
    padding: 8px 30px;
    margin-bottom: 25px;
    position: relative;
    left: -29px;
    width: 449px;
    flex-direction: column;
    min-height: 35px;
    background-color: var(--grey);
    justify-content: center;
}

.form-contacts_padding {
    padding: 25px 30px;
}

.selectblock {
    position: relative;
    justify-content: center;
    width: 100%;
    height: 37px;
    margin-bottom: 25px;
    row-gap: 15px;
    z-index: 8;
}

.selectblock-container {
    max-height: 130px;
    overflow-y: auto;

}

.selectblock__select {
    position: relative;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 9px 12px;
    width: 31%;
    height: 100%;
    background-color: #E7E5EB;
    border: 1px solid #C8C5D1;
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
    outline: none;
    cursor: pointer;
    transition: .3s all ease-in-out;
}

.selectblock__select:not([multiple]) {
    padding-right: 1.2em;
    background-repeat: no-repeat;
    background-position: 90%;
    background-size: 0.85em auto;
    background-image: url("../img/arrow2.svg");
}

.selectblock__input {
    width: 69%;
    height: 100%;
    border: 1px solid #C8C5D1;
    padding: 8px 37px 8px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    color: var(--text-color);
    outline: none;
    overflow: hidden;
}

.selectblock__option {
    width: 30%;
}

.selectblock__clear-btn {
    position: absolute;
    border: 1px solid #C8C5D1;
    width: 7%;
    height: 37px;
    right: 0;
    background-color: var(--grey);
    display: none;
}

.selectblock__clear-btn svg {
    position: relative;
    top: 6%;
}

.selectblock__clear-btn:hover, .selectblock__clear-btn:hover path {
    fill: var(--red);
    border: 2px solid var(--red);
}

.tippy-box {
    background-color: var(--black);
    color: var(--white);
    font-size: 12px;
    font-weight: 700;
    line-height: 16.34px;
    padding: 7px 13px;
    max-width: 133px;
    border: none;
    border-radius: 0;
}

.tippy-arrow::before {
    border-color: var(--black) transparent transparent transparent;
}

.form-btn {
    color: var(--black);
    fill: var(--firm);
    transition: .3s all ease-in-out;
}

.form-btn:focus, .form-btn:hover, .form-btn:active {
    color: var(--firm);
    fill: var(--white);
    outline: none;
}

.form-btn:focus .form-btn__svg, .form-btn:hover .form-btn__svg, .form-btn:active .form-btn__svg {
    outline: none;
    border: none;
    background-color: var(--firm);
}

.form-btn__svg {
    transform: translateY(15%);
    fill: inherit;
    border-radius: 50%;
}

.form-btn__span {
    font-size: 14px;
    font-weight: 600;
    line-height: 19.07px;
    color: inherit;
}

.group-bottombtns {
    width: 100%;
    gap: 5px;
    flex-direction: column;
    align-items: center;
}

.group-bottombtns__save {
    padding: 12.5px 35px;
    outline: none;
    background-color: var(--firm);
    color: var(--white);
    font-size: 14px;
    font-weight: 600;
    line-height: 19.07px;
    transition: .3s all ease-in-out;
}

.group-bottombtns__save:hover, .group-bottombtns__save:focus {
    background-color: var(--firm-bright);
}

.group-bottombtns__save:active {
    background-color: var(--firm-dark);
}

.group-bottombtns__no {
    font-size: 12px;
    font-weight: 400;
    line-height: 16.34px;
    color: var(--black);
    text-decoration: underline;
    transition: .3s all ease-in-out;
}

.group-bottombtns__no:hover, .group-bottombtns__no:focus {
    color: var(--firm);
}

.group-bottombtns__no:active {
    color: var(--firm-dark);
}

.modaldell-text {
    max-width: 275px;
    width: 100%;
    margin-bottom: 25px;
    font-size: 14px;
    font-weight: 400;
    line-height: 19.07px;
    color: var(--black);
}

.modal__form-container_flex {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
    align-items: center;
}

.modal__container-title_flex {
    display: flex;
    justify-content: center;
    width: 100%;
}

.hide {
    display: none;
}

.incorrect-text {
    margin-bottom: 9px;
    font-size: 10px;
    font-weight: 400;
    line-height: 13.62px;
    color: var(--red);
}

.form__contacts-margin {
    margin-bottom: 8px;
}

.flex-wrap {
    flex-wrap: wrap;
}

/* Прелоадер */
.main__table-block {
    position: relative;
}

#preloader {
    position: absolute;
    top: 23px;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
    height: 300px;
    max-width: 1186px;
    width: 100%;
}

.spinner {
    width: 80px;
    height: 80px;
    border: 8px solid var(--firm);
    border-top-color: var(--white);
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}